<h1>Lista de Comercios</h1>

<div class="row">
    <div class="col text-right">
        <button [routerLink]="['/comercio/nuevo']"
                class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Agregar
        </button>
    </div>
</div>

<table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Tiene Productos</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comercio of comercios; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ comercio.nombre }}</td>
        <td>{{ comercio.direccion }}</td>
        <td>
          <label *ngIf="comercio.tipo_venta_id === 1" class="badge badge-success">Celiacos</label>
          <label *ngIf="comercio.tipo_venta_id === 2" class="badge badge-info">Diabeticos</label>
          <label *ngIf="comercio.tipo_venta_id === 3" class="badge badge-dark">Comunes</label>
        </td>
        <td>
          <button class="btn btn-info mr-1"
                  [routerLink]="['/comercio', comercio.id]">
            <i class="fas fa-pen"></i>
          </button>

          <button class="btn btn-danger"
                  (click)="borrarComercio( comercio, i )">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Tiene Productos</th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let algo of trash; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ algo.nombre }}</td>
        <td>{{ algo.direccion }}</td>
        <td>
          <label *ngIf="algo.tipo_venta_id === 1" class="badge badge-success">Celiacos</label>
          <label *ngIf="algo.tipo_venta_id === 2" class="badge badge-info">Diabeticos</label>
          <label *ngIf="algo.tipo_venta_id === 3" class="badge badge-dark">Comunes</label>
        </td>
        <!-- <td>
          <button class="btn btn-info mr-1"
                  [routerLink]="['/comercio', comercio.id]">
            <i class="fas fa-pen"></i>
          </button>

          <button class="btn btn-danger"
                  (click)="borrarComercio( comercio, i )">
            <i class="fas fa-trash"></i>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>

  <div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fas fa-exclamation fa-2x"></i>
    </p>
</div>

  <div class="alert alert-info text-center mt-3">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fas fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
          Espere por favor
      </p>
  </div>